/* Header */
.weather-header {
    background-image: linear-gradient(to right, rgb(38, 113, 252), rgb(20, 20, 65));
}

/* Search form */
.input-group {
    display: flex;
    flex-direction: column;
}
  
.input-group input.weather-search {
width: 100%;
box-sizing: border-box; /* Ensure width includes padding and border */
margin: 0; /* Reset margin to ensure it spans the whole width */
border-radius: 5px !important;
}

.btn {
width: 100%;
margin-top: 10px;
}

.hr {
margin-top: 10px;
}

/* Search history section */
.history-btn {
    background-color: grey !important;
    border: none !important;
}  

/* 5-day forecast cards */
.bootsrap-card {
    color: white !important;
    background-color: #232B6A !important;
    border: none !important;
}